@(employeeForm: Form[dummymodels.DummyEmployee])
@import helper._
@import  models.admission.Department
@import  models.admission.Designation
@import  models.admission.Category

@main("Employee Entry") {
<div id="main_wrapper">
   <div class="container-fluid">
     <div class="row">
         @form(routes.EmployeeManagement.save(), 'id->"form_validation", 'enctype -> "multipart/form-data") { 
           <div id="student_form" class="wizard clearfix"> 	
             <h3>General Information</h3>
              <section>
	       		  <div class="col-md-12">
	       		    @inputText(field=employeeForm("employeeName"),'_showConstraints -> false, 'class->"form-control",'_label->"Employee Name")
	              </div>
	              <div class="col-md-12">
	                @inputText(field=employeeForm("fathersName"), '_showConstraints -> false, 'class->"form-control", '_label->"Fathers Name")
	              </div>
	              <div class="col-md-12">
	                @inputText(field=employeeForm("mothersName"), '_showConstraints -> false, 'class->"form-control",'_label->"Mothers Name")
	              </div>
	              <div class="col-md-12">
	                @textarea(field=employeeForm("presentAddress"),'_showConstraints -> false, 'class->"form-control",'rows -> 3, 'cols -> 50, 'id->"wysiwg_editor",'_label->"Present Address")
	              </div>
	              <div class="col-md-12">
	                @textarea(field=employeeForm("permanentAddress"),'_showConstraints -> false, 'class->"form-control",'rows -> 3, 'cols -> 50, 'id->"wysiwg_editor",'_label->"Permanent Address")
	              </div>
	              <div class="col-md-12">
	                 @inputRadioGroup(
	                  employeeForm("gender"),
	                  options = options("Male"->"Male","Female"->"Female"),
	                  '_label -> "Gender"
	                  )
	              </div>
	              <div class="col-md-12">
	                <label for="reliID">Religion</label>
	                <select name="religion" id="reliID">
	                   <option></option>
	                   <optgroup label="Find Religion">
	                      <option>Islam</option>
	                      <option>Hindu</option>
	                      <option>Christian</option>
	                      <option>Buddhist</option>
	                      <option>Others</option>
	                   </optgroup>
	                </select>
	              </div>
	              <div class="col-md-12">
	                @inputText(field=employeeForm("natIdNo"), '_showConstraints -> false, 'class->"form-control", '_label->"National Id No")
	              </div>
	              <div class="col-md-12">  
       		        @inputText(field=employeeForm("birthCertNo"),'_showConstraints -> false, 'class->"form-control",'_label->"Birth Certificate No")
       		      </div>
       		      <div class="col-md-12">  
       		        @inputText(field=employeeForm("tin"), '_showConstraints -> false, 'class->"form-control",'_label->"TIN")
       		      </div>
       		      <div class="col-md-12">  
       		        @inputText(field=employeeForm("nationality"),'_showConstraints -> false, 'class->"form-control",'_label->"Nationality")
	              </div>  
	          </section>
		      <h3>Employee Others</h3>
		      <section>
		          <div class="col-md-12">
		            @inputDate(field=employeeForm("dateOfBirth"), '_label->"Date of Birth", '_id->"dp_range")
		          </div>
		          <div class="col-md-12">
	                <label for="birthPlace">Place Of Birth</label>
	                <select name="placeOfBirth" id="birthPlace">
	                   <option></option>
	                   <optgroup label="Find Place Of Birth">
	                     @for((id,name)<-District.getDistrictsAsMap){
	                        <option value="@id">@name</option>
	                     }
	                   </optgroup>
	                </select>
	              </div>
	              <div class="col-md-12">       		
       		        <label for="bloodGroup">Blood Group</label>
       		        <select>
       		          <option></option>
       		          <optgroup label="Find Blood Group">
       		             <option>A+</option>
       		             <option>A-</option>
       		             <option>B+</option>
       		             <option>B-</option>
       		             <option>AB+</option>
       		             <option>AB-</option>
       		             <option>O+</option>
       		             <option>O-</option>
       		          </optgroup>
       		        </select>
       		      </div>
       		      <div class="col-md-12">
       		        <label for="marital">Marital Status</label>
       		        <p><input type="radio" name="maritalStat" value="Single" id="mStatus" onclick="removeStatus()"><label>Single</label></p>
       	            <p><input type="radio" name="maritalStat" value="Married" id="mStatus" onclick="showStatus()"><label>Married</label></p>
       		      </div>
       		      <div class="col-md-12">       		  
       		        @inputText(field=employeeForm("spouseName"), '_showConstraints -> false, 'class->"form-control",'_label->"Spouse Name")
       		      </div>
       		      <div class="col-md-12">
       		        <label for="childID">No Of Child</label>
       		        <select name="noOfChild" id="childID">
       		           <option>1</option>
       		           <option>2</option>
       		           <option>3</option>
       		           <option>4</option>
       		           <option>5</option>
       		        </select>
		      </section>
		      <h3>Employee Education</h3>
		      <section>
		        <div class="col-md-12">
			         <label for="desID">Choose Employee Type</label>
			          <p><input type="radio" name="employeeType" value="Teacher" id="empType" onclick="showTeacher()"><label>Teacher</label></p>
       	              <p><input type="radio" name="employeeType" value="Staff"   id="empType" onclick="removeTeacher()"><label>General Staff</label></p>
			      </div>
			      <div id="teacherDiv" style="display:none">
			         <div class="col-md-12">
			              @inputText(field=employeeForm("SSCSession"), '_showConstraints -> false, 'class->"form-control",'_label->"SSC Session")
			 @inputText(field=employeeForm("SSCResult"), '_showConstraints -> false, 'class->"form-control",'_label->"SSC Result")
			 @inputText(field=employeeForm("SSCSchool"), '_showConstraints -> false, 'class->"form-control",'_label->"School Name")
					
			 @inputText(field=employeeForm("HSCSession"), '_showConstraints -> false, 'class->"form-control",'_label->"HSC Session")
			 @inputText(field=employeeForm("HSCResult"), '_showConstraints -> false, 'class->"form-control",'_label->"HSC Result")
			 @inputText(field=employeeForm("HSCCollage"), '_showConstraints -> false, 'class->"form-control",'_label->"College Name")
			
			 @inputText(field=employeeForm("HonsSession"), '_showConstraints -> false, 'class->"form-control",'_label->"Hons Session")
			 @inputText(field=employeeForm("HonsResult"), '_showConstraints -> false, 'class->"form-control",'_label->"Hons Result")
			 @inputText(field=employeeForm("HonsUniv"), '_showConstraints -> false, 'class->"form-control",'_label->"University Name")
			
			 @inputText(field=employeeForm("MsSession"), '_showConstraints -> false, 'class->"form-control",'_label->"MS Session")
			 @inputText(field=employeeForm("MsResult"), '_showConstraints -> false, 'class->"form-control",'_label->"MS result")
			 @inputText(field=employeeForm("MsUniv"), '_showConstraints -> false, 'class->"form-control",'_label->"MS University")
			
			 @inputText(field=employeeForm("PHDYear"), '_showConstraints -> false, 'class->"form-control",'_label->"Phd Year")
			 @inputText(field=employeeForm("PHDTopics"), '_showConstraints -> false, 'class->"form-control",'_label->"Phd Topics")
			 @inputText(field=employeeForm("PHDUniv"), '_showConstraints -> false, 'class->"form-control",'_label->"University")
			              
			         </div>
			      </div>
		      </section>
       		  <h3>Joining Information</h3>
       		  <section>
       		    <div class="col-md-12"> 
	                <label for="catID">Choose Category</label>
	                <select name="categoryId" id="catID">
	                   <option></option>
	                   <optgroup label="Find Category">
	                     @for((id,name)<-Category.getCategoriesAsMap){
	                      <option value="@id">@name</option>
	                     }
	                   </optgroup>
			      </div>
			      <div class="col-md-12">
			        <label for="deptID">Choose Department</label>
			        <select name="departmentId" id="deptID">
			          <option></option>
			          <optgroup label="Find Department">
			             @for((id,name)<-Department.getDepartmentsAsMap){
			               <option value="@id">@name</option>
			             }
			          </optgroup>
			        </select>
			      </div>
			      <div class="col-md-12">
			         <label for="desID">Choose Designation</label>
			         <select name="designationId" id="desID">
			           <option></option>
			           <optgroup label="Find Designation">
			             @for((id,name)<-Designation.getDesignationsAsMap){
			               <option value="@id">@name</option>
			             }
			           </optgroup>
			         </select>
			      </div>
			      <div class="col-md-12">
			         @inputDate(field=employeeForm("joiningDate"), '_label->"Joining Date", '_id->"dp_basic")  
			      </div>
       		  </section>
       		  <h3>Employee Image</h3>		    
		      <section>     	            		  
       		    <div class="col-md-12">
		         <label>Select Image </label>
		         <input type="file" name="empimage" class="form-control">
		        </div>
		     </section>
            </div> 
            }
          </div>
        </div>
      </div>
         
      
     <script type="text/javascript">
     
         function showTeacher()
		{
		  var teacherDiv=document.getElementById("teacherDiv");
		  
		    teacherDiv.style.display='block';
		 		  
		}
		
		function removeTeacher()
		{
		  var teacherDiv=document.getElementById("teacherDiv");
		  
		    teacherDiv.style.display='none';
		 		  
		}
     </script>        
                        
     }

