@(employees: List[models.admission.Employee])
@import helper._

@main("List of Employees"){

 
  	@if(flash.get("msg")){
         	<span>@flash.get("msg")</span>
     }
  
  <table>
  <thead>
    <tr>
       <th>ID</th>
       <th>Employee Name</th>
        <th>Employee Type</th>
       <th>Fathers Name</th>
       <th>Mothers Name</th>
       <th>Present Address</th>
       <th>Permanent Address</th>
       <th>Place Of Birth</th>
       <th>National Id No</th>
       <th>Birth Certificate No</th>
       <th>TIN</th>
       <th>Nationality</th>
       <th>Religion</th>
       <th>Blood Group</th>
       <th>Marital Status</th>
       <th>Spouse Name</th>
       <th>No Of Child</th>
       
     </tr>
   </thead>
    <tbody>
    @for(employee <- employees) {
      <tr>
        <td><a href="@routes.EmployeeManagement.show(employee.id)">@employee.id</a></td>
        <td>@employee.name</td>
         <td>@employee.employeeType</td>
        <td>@employee.fathersName</td>
	  <td>@employee.mothersName</td>
	  <td>@employee.presentAddress</td>
	  <td>@employee.permanentAddress</td>
	  <td>@employee.placeOfBirth</td>
	  <td>@employee.natIdNo</td>
	  <td>@employee.birthCertNo</td>
	  <td>@employee.tin</td>
	  <td>@employee.nationality</td>
	  <td>@employee.religion</td>
	  <td>@employee.bloodGroup</td>
	  <td>@employee.maritalStat</td>
	  <td>@employee.spouseName</td>
	  <td>@employee.noOfChild</td>
        
      </tr> 
    }
 </tbody>
 </table>

}      