@(sectionSemesterForm: Form[models.admission.SectionSemester])
@import helper._
@import  models.admission.ClassYear

@main("Section or Semester Entry") {
	
       @form(routes.SectionSemesterManagement.save()) { 
       		 
       		 @select(
		      sectionSemesterForm("classYear.id"),
		      options(ClassYear.getClassYearsAsMap),
		      '_label -> "Class or Year",
		      '_default -> "-- Choose a Class or Year --"
		    )
		    
              @inputText(field=sectionSemesterForm("name"), args='_label->"Section or Semester Name")
              @inputText(field=sectionSemesterForm("code"), args='_label->"Section or Semester Code")
              <input type="submit" value="Create">
            }
                       
     }

