@(sectionSemesterForm: Form[models.admission.SectionSemester])
@import helper._
@import models.admission.ClassYear

@main("Edit Section or Semester"){
  <div id="main_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
          <div class="heading_a"><span class="heading_text">Edit Section or Semester Information</span></div>   
          @form(routes.SectionSemesterManagement.update()) {
  	       <input type="hidden" name="id" value=@sectionSemesterForm.get.id>
  	        <div class="row">
  	         <label for="deptID">Class or Year</label>
		  	   <select name="classYear.id" id="deptID" class="form-control">
		  	   		<option></option>
				    <optgroup label="Find Class or Year">
			        @for((id, name) <- ClassYear.getClassYearsAsMap){
			          <option value="@id" @if(sectionSemesterForm.get.classYear.id.toString==id){selected}>@name</option>
			        }
			        </optgroup>
		        </select>
           </div>
		   <div class="row">
		      @inputText(sectionSemesterForm("name"),'_showConstraints -> false, 'class->"form-control", '_label->"Section or Semester Name")
		   </div>
		   <div class="row">
		      @inputText(sectionSemesterForm("code"),'_showConstraints -> false, 'class->"form-control",'_label->"Section or Semester Code")
		   </div>
		   <div class="row">
		  		<input type="submit" value="Update"  class="btn btn-primary">
		   </div>
	    </div>
     </div>
  </div>
  }
}