@(sectionSemester: models.admission.SectionSemester)
@import helper._

@main(""){
<div id="main_wrapper">
    <div class="container-fluid">
     <div class="col-md-12">
  
     <div class="heading_a"><span class="heading_text">Section or Semester Details</span></div>
       <div class="row">
          <label for="deptName">Class or Year</label>
          <span class="form-control" id="deptName">@sectionSemester.classYear.name</span>
       </div>
       <div class="row">
          <label for="deptName">Section or Semester Name</label>
          <span class="form-control" id="deptName">@sectionSemester.name</span>
       </div>
       <div class="row">
          <label for="degName">Section or Semester Code</label>
          <span class="form-control" id="degName">@sectionSemester.code</span>
       </div>  
       <div class="row">
     @form(routes.SectionSemesterManagement.edit(sectionSemester.id)) {
		    <input type="submit" value="Edit" class="btn btn-primary">
  		  }
     
           </div>  
      </div>
    </div>
  </div>  
}