@(student: models.admission.Student, feesHeadIds: List[Long], feesHeades: List[models.Fees.FeesHead]) 
@import helper._ 
@import helper.twitterBootstrap._ 
@import models.Fees.StudentFees 
@import models.Fees.FeesHead 
@main(""){

<div id="main_wrapper">
	<div class="container-fluid">

		<div class="col-md-12">
			<div class="heading_a">
				<span class="heading_text">Get Fees from @student.name</span>
			</div>
			<div class="row">


				<form method="post"
					action=@routes.StudentFeesCollectionManagement.insert()>
					<input type="hidden" name="studentId" value="@student.sid">

					<table>
						<tr align="center">
							<th>Fees Heads</th>
							<th style="text-align: right;">Amount (BDT)</th> 
						</tr>
						@for((feesHead,idx) <- feesHeades.zipWithIndex) {
						<tr align="center">
							<td><input type="hidden" name="fessHeadIds[@idx]" value="@feesHead.id">@feesHead.name</td>
							<td><input type="text" name="feesAmount[@idx]" style="text-align: right;" @if(feesHeadIds contains feesHead.id){value=@StudentFees.findByStudentAndFeesHead(student.sid,feesHead.id).amount}></td>
						</tr>
						}
					</table>
					<div class="col-md-12">
						<input type="submit" value="Get Fees">
					</div>
				</form>


				<h3>
					View the <a href="@routes.StudentFeesCollectionManagement.list()">list</a> of payments
				</h3>
			</div>
		</div>
	</div>
</div>
}
