@(student: models.admission.Student, feesHeadIds: List[Long])
@import helper._
@import helper.twitterBootstrap._
@import models.Fees.StudentFees
@import models.Fees.FeesHead

@main{
  <h2>Get Fees from  <b> @student.name</b></h2><br/><br/>

  <form method="post" action=@routes.StudentFeesCollectionManagement.insert()>
    <input type="hidden" name="studentId" value="student">
    
    <table>
      <tr align="center"> <th>Fees Heads </th> <th style="text-align: right;">Amount (BDT)</th> 

      @for((feesHead, idx) <- FeesHead.all.zipWithIndex) {
      <tr align="center">
        <td>@feesHead.name</td>
        <td><input type="text" name="amount[@idx]" style="text-align: right;" @if(feesHeadIds contains feesHead.id){value = @StudentFees.findByStudentAndFeesHead(student.id, feesHeaf.id).amount}></td>
      </tr>
      }
  </table>
  
  <input type="submit" value="Get Fees">
  </form>

  <br/> <br/>
  <h3>View the <a href="@routes.StudentFeesCollectionManagement.list()">list</a> of payments</h3>
}
