@(studentFees: models.Fees.StudentFees)
@import helper._

@main(""){
@if(flash.get("msg")) {
<b>@flash.get("msg")</b>
}
<div id="main_wrapper">
  <div class="container-fluid">
	<div class="row">
	  <div class="heading_a"><span class="heading_text">Student's Fees Information</span></div>
		<div class="col-md-12">
		   <label>Student Id</th>
		   <span class="form-control">@studentFees.student.sid</span>
		</div>
		<div class="col-md-12">
		   <label>Student Name</label>
		   <span class="form-control">@studentFees.student.name</span>
		</div>
		<div class="col-md-12">
		   <label>Fees Head</label>
		   <span class="form-control">@studentFees.feesHead.name</span>
		</div>
		<div class="col-md-12">
		   <label>Amount</label>
		   <span class="col-md-12">@studentFees.amount</span>
		</div>
			@*@form(routes.StudentFeesCollectionManagement.edit(studentFees.id)) {
				                <div class="col-md-12">
									<input type="submit" value="Edit"	class="btn btn-primary">
								</div>
			}*@
			</div>
		</div>
	</div>

}