@(sctForm: Form[models.Fees.StudentCollectionType])
@import models.Fees.Category
@import models.Fees.DiscountCategory
@import models.admission.Student
@import helper._

@main("Edit Student Collection"){
<!-- main content -->
  <div id="main_wrapper">
    <div class="container-fluid">
      <div class="col-md-12">
        <div class="heading_a"><span class="heading_text">Edit Student Collection</span></div>
           @form(routes.StudentCollectionTypeManagement.update()) {
           
  	        <input type="hidden" name="id" value=@sctForm.get.id >
            
             <div class="row">        
  	          <label for="universityID"> Student </label><br>
  	 	      <select name="student.sid" id="universityID">
			    <option></option>
			    <optgroup label="Find Fees Head">
			  	  @for((id, name) <- Student.getStudentsAsMap){
			       <option value="@id" @if(id==sctForm.get.student.sid.toString){selected}>@name</option>
			     } 
    	     </select>
		    </div>
		    
		    
		    <div class="row">        
  	          <label for="universityID"> Fees Category </label><br>
  	 	      <select name="feesCategory.id" id="universityID">
			    <option></option>
			    <optgroup label="Find Fees Head">
			  	  @for((id, name) <- Category.getCategoriesAsMap){
			       <option value="@id" @if(id==sctForm.get.feesCategory.id.toString){selected}>@name</option>
			     } 
    	     </select>
		    </div>
		    
		    <div class="row">        
  	          <label for="universityID"> Discount Category </label><br>
  	 	      <select name="discountCategory.id" id="universityID">
			    <option></option>
			    <optgroup label="Find Fees Head">
			  	  @for((id, name) <- DiscountCategory.getDiscountsAsMap){
			       <option value="@id" @if(id==sctForm.get.discountCategory.id.toString){selected}>@name</option>
			     } 
    	     </select>
		    </div>
		    
		    
            <div class="row">
	         <input type="submit" value="Update" class="btn btn-primary">
	        </div>  
  }
}