@(discount: models.Fees.DiscountCategory,isChecked :List[Boolean])
@import models.Fees.FeesHead
@import helper._


@main("Edit Discount ") {
  <!-- main content -->
   <div id="main_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
          <div class="heading_a"><span class="heading_text">Edit Discount</span></div>
            
              @form(routes.DiscountManagement.update()) { 

		    <div class="row">
		      @*@inputText(field=discountForm("name"), '_showConstraints -> false, 'class->"form-control",'_label->"Discount Name")*@
		    	<label for="corName">Discount Name </labe><input type="text" name="name" value="@discount.name" class="form-control">
		     </div>      
		    <div class="row">
		       @*@inputText(field=discountForm("discountRate"), '_showConstraints -> false, 'class->"form-control",'_label->"Discount Rate")%*@
		       <label for="corName">Discount Rate </labe><input type="text" name="discountRate" value="@discount.discountRate" class="form-control">%
		    </div>   

                <div class="col-md-12">
                     <label for="corName">Select Fees Head</labe>
                     @for((feesHead, idx) <- FeesHead.all.zipWithIndex) {
                       <input type="checkbox" name="feesHeadIds" value="@feesHead.id" @(if(isChecked.get(idx)== true) "checked")>
                        @feesHead.name
                     }
                  </div>

		    
            <div class="row">
              <input type="submit" class="btn btn-primary" value="update">
            </div>
            }
        </div>
     </div>
   </div>                      
 }