@(discount: models.Fees.DiscountCategory)
@import helper._

@main(""){
 <!-- main content -->   
 <div id="main_wrapper">
   <div class="container-fluid">
     <div class="col-md-12">
     <div class="heading_a"><span class="heading_text">Discount Deatils</span></div>
      <div class="row">
        <label for="uniName">Fees Head Name</label>
        <span class="form-control" id="uniName">@discount.feesHead.name</span>
       </div>  
       <div class="row">
        <label for="facName">Discount Name</label>
        <span class="form-control" id="facName">@discount.name</span>
       </div>
        <div class="row">
        <label for="facName">Discount Rate</label>
        <span class="form-control" id="facName">@discount.discountRate</span>
       </div>
       @form(routes.DiscountManagement.edit(discount.id)) {
        <div class="row">
		    <input type="submit" value="Edit" class="btn btn-primary">
		</div>    
  		}
  	   }
      </div>
   </div>
 </div>        
