@(allStudentNum: Integer,allTeacherNum: Integer,allStuffNum: Integer)
@import helper._

@dash(""){
 <!-- main content -->
            <div id="main_wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="info_box_var_1 box_bg_a">
                                <div class="info_box_body">
                                    <span class="info_box_icon icon_group"></span>
                                    <span class="countUpMe" data-endVal="@allStudentNum">@allStudentNum</span>
                                </div>
                                <div class="info_box_footer">
                                    Total Student
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="info_box_var_1 box_bg_b">
                                <div class="info_box_body">
                                    <span class="info_box_icon icon_group"></span>
                                    <span class="countUpMe" data-endVal="@allTeacherNum">@allTeacherNum</span>
                                </div>
                                <div class="info_box_footer">
                                    No of Teacher
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="info_box_var_1 box_bg_c">
                                <div class="info_box_body">
                                    <span class="info_box_icon icon_wallet"></span>
                                    <span class="countUpMe" data-endVal="@allStuffNum">@allStuffNum</span>
                                </div>
                                <div class="info_box_footer">
                                   Total General Employee
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="heading_a">
                                <span class="heading_text">Collection Amount</span>
                            </div>
                            <div id="c3_orders" style="height:220px"></div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="heading_a">
                                <span class="heading_text">Dues Amount</span>
                            </div>
                            <div id="c3_users_age" style="height:220px"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading_a">
                                <span class="heading_text">Students</span>
                                <div class="pull-right">
                                    <button class="btn btn-xs btn-default chart_switch" data-chart="line">Line</button>
                                    <button class="btn btn-xs btn-link chart_switch" data-chart="bar">Bar</button>
                                </div>
                            </div>
                            <div id="c3_7_days" style="height:280px"></div>
                        </div>
                    </div>
                </div>
            </div>
 	
     }
