@(studentForm: Form[dummymodels.DummyStudent])
@import helper._
@import  models.admission.Department
@import  models.admission.Designation
@import  models.admission.Category
@import  models.admission.Degree
@import  models.admission.ClassYear
@import  models.admission.SectionSemester
@import  models.Division
@import  models.District

@main("Student Entry") {
 <script type="text/javascript" src='@routes.DistrictFunctions.javascriptRoutes()'></script>
 <!-- Main Content -->
 <div id="main_wrapper">
   <div class="container-fluid">
     <div class="row">
       @form(routes.StudentManagement.save(), 'id->"form_validation",'enctype -> "multipart/form-data") { 	
       <div id="student_form" class="wizard clearfix"> 	
        <h3>Student Information</h3>       	
          <section>
            <div class="col-md-12">
              <div class="form-group">	
       		    @inputText(field=studentForm("studentName"), '_showConstraints->false, 'class->"form-control",'_label->"Student Name")
       		  </div> 
       	    </div>
	        <div class="col-md-12">
	          <div class="form-group">  
	            @inputDate(field=studentForm("dateOfBirth"), '_showConstraints->false,'_label->"Date of Birth", 'class->"form-control",'id->"student_dob")
	          </div> 
	        </div>
	        <div class="col-md-12">  
	          <div class="form-group"> 	 
	           <label for="birthPlace">Place of Birth</label>     
	           <select name="placeOfBirth" id="birthPlace">
	                <option></option>
	                <optgroup label="Place Of Birth">
	                  @for((id,name)<-District.getDistrictsAsMap){
	                    <option value="@id">@name</option>
	                  }
	                </optgroup>
	           </select>
	         </div>      
		    </div>
		    <div class="col-md-12">    
		      <div class="form-group"> 	
    	        @inputText(field=studentForm("nationality"), '_showConstraints->false,'class->"form-control",'_label->"Nationality")
    	      </div>
    	    </div>  
    	    <div class="col-md-12">	   
       		  <div class="form-group">
       		    @inputRadioGroup(
		          studentForm("Gender"),
		          options = options("Male"->"Male","Female"->"Female"),
		          'class->"icheck",
		          'id->"iradio_1"
		          )
		       </div>    
	        </div>
    	</section>
    	<h3>Address & Others</h3>  
    	<section>  
    	  <div class="col-md-12">
    	    <div class="form-group">  
		      @textarea(field=studentForm("presentAddress"), 'rows -> 3, 'cols -> 50, '_showConstraints->false,'class->"form-control",'_label->"Present Address")
		    </div> 
		  </div>
		  <div class="col-md-12">  
		    <div class="form-group"> 
	          @textarea(field=studentForm("permanentAddress"), 'rows -> 3, 'cols -> 50, '_showConstraints->false,'class->"form-control",'_label->"Permanent Address")
     	    </div> 
     	  </div>
     	  <div class="col-md-12">  
            <div class="form-group">
              <label for="regID">Religion</label>
              <select name="religion" id="regID">
                 <option></option>
                 <optgroup label="Find Religion">
                    <option>Islam</option>
                    <option>Hindu</option>
                    <option>Christian</option>
                    <option>Buddhist</option>
                    <option>Others</option>
                 </optgroup>
              </select>
       		 </div>
       	  </div>
       	  <div class="col-md-12">	 
       		<div class="form-group"> 
       		 <label for="groupID">Blood Group</label>
       		 <select name="bloodGroup" id="groupID">
       		    <option></option>
       		    <optgroup label="Find Boold Group">
       		       <option>A+</option>
       		       <option>A-</option>
       		       <option>B+</option>
       		       <option>B-</option>
       		       <option>AB+</option>
       		       <option>AB-</option>
       		       <option>O+</option>
       		       <option>O-</option>
       		    </optgroup>
       		 </select>
		    </div>
		  </div>
		  <div class="col-md-12">   
		   <div class="form-group">
		      @inputRadioGroup(
                 studentForm("maritalStatus"),
                 options = options("Single"->"Single","Married"->"Married"),
                 '_label -> "Maritual Status"
                )
           </div>
          </div>
          <div class="col-md-12"> 
           <div class="form-group"> 
		     @inputText(field=studentForm("mobile"), 'class->"form-control",'_label->"Mobile")
		   </div>
		  </div> 
		  <div class="col-md-12">  
		     <div class="form-group"> 
	           @inputText(field=studentForm("email"), 'class->"form-control",'_label->"Email")
             </div>
          </div>
          <div class="col-md-12">   
             <div class="form-group">
		       <label for="studentImgae">Student Image </label>
		       <input type="file" name="stimage">
		    </div>
		  </div>  
          </section>   
          <h3>Parent Information</h3>
          <section>
           <div class="col-md-12">
             <div class="form-group">
	           @inputText(field=studentForm("parentName"), '_showConstraints->false,'class->"form-control",'_label->"Parent Name")
	         </div>
	       </div> 
	       <div class="col-md-12"> 
	        <div class="form-group"> 
              @inputText(field=studentForm("parentPhone"), '_showConstraints->false,'class->"form-control",'_label->"Parent Phone")
            </div>  
           </div> 
           <div class="col-md-12">
            <div class="form-group">
              @inputText(field=studentForm("parentEmail"), '_showConstraints->false,'class->"form-control",'_label->"Parent Email")
		    </div>
		  </div>  
		</section>
        <h3>Admission Information</h3>     		 
       	<section>
       	 <div class="col-md-12">
       	   <div class="form-group">
       	     <label for="deptID">Select Department</label>
       	     <select name="departmentId" id="deptID">
       	        <option></option>
       	        <optgroup label="Find Department">
       	           @for((id,name)<-Department.getDepartmentsAsMap){
       	             <option value="@id">@name</option>
       	           }
       	        </optgroup>
       	     </select>
		   </div>
		 </div>  
		 <div class="col-md-12">
		   <div class="form-group"> 
		     <label for="degID">Select Degree</label>
		     <select name="degreeId" id="degID">
		          <option></option>
		          <optgroup label="Find Degree">
		            @for((id,name)<-Degree.getDegreesAsMap){
		              <option value="@id">@name</option>
		            }
		          </optgroup>
		     </select>
		    </div>
		  </div>  
		  <div class="col-md-12">
		    <div class="form-group">
		      <label for="yearID">Select Class/Year</label>
		      <select name="classId" id="yearID">
		         <option></option>
		         <optgroup label="Find Class/Year">
		           @for((id,name)<-ClassYear.getClassYearsAsMap){
		             <option value="@id">@name</option>
		           }
		         </optgroup>
		      </select>
		    </div> 
		  </div>  
		  <div class="col-md-12">
		    <div class="form-group">  
		      <label for="facultyid">Select Class/Section</label> 
		      <select name="sectionId" id="facultyid">
		         <option></option>
		         <optgroup label="Find Section">
		           @for((id,name)<-SectionSemester.getSectionSemestersAsMap){
		             <option value="@id">@name</option>
		            }
		         </optgroup>
		      </select>
            </div>
          </div>  
 
    	
	    <!--   <select name="division" id="division">
			     <option value="" class="blank">-- Choose a Division --</option>
			     @for((id, name) <- Division.getDivisionsAsMap){
			       <option value="@id">@name</option>
			     }
   			</select>
		    
		     
	    @********** @inputText(field=studentForm("district"), args='_label->"District")  *********@
	   @****   @select(
		      studentForm("district"),
		      '_id ->"district",
		      options(District.getDistrictsAsMap),
		      '_label -> "District",
		      '_default -> "-- Choose a District --"
		    )
		 ***@
		 <select name="district" id="district">
			     <option value="" class="blank">-- Choose a District --</option>
			  @**** <!--  @for((id, name) <- District.getDistrictsAsMap){
			       <option value="@id">@name</option>
			     } --> ***@
   			</select>
   		-->	
   		<div class="col-md-12">
		 <div class="form-group">  	   
	       @inputText(field=studentForm("atleastCredit"), '_showConstraints->false,'class->"form-control",'_label->"Atleast Credit")
	     </div> 
	   </div>  
       <!--other fields-->
      </section> 

      <h3>Login Information</h3>     		 
       	<section>
           <div class="col-md-12">
             <div class="form-group">
	           @inputText(field=studentForm("username"), '_showConstraints->false,'class->"form-control",'_label->"User Name")
	         </div>
	       </div> 
	       <div class="col-md-12"> 
	        <div class="form-group"> 
              @inputPassword(field=studentForm("password"), '_showConstraints->false,'class->"form-control",'_label->"Password")
            </div>  
           </div> 
 
		</section>
      
      
    </div>
   </div>   
   </div>           
</div>
              <script>
$('#division').on('change', function() {
var idToGet = this.value;
jsRoute.controllers.DistrictFunctions.getDistByDiv(idToGet).ajax({
		success: function(data) 
			{
		            //alert(data[0]);
		            
							var result = $.parseJSON(data);
							
							
							var select = document.getElementById("district"); 
							
							$("#district").empty();
							var el = document.createElement("option");
				    		el.textContent = "--Choose a District--";
				    		el.value = "";
				    		select.appendChild(el);
				    
							$.each(result, function(k, v) {
							  	var el = document.createElement("option");
						    	el.textContent = v;
						    	el.value = k;
						    	select.appendChild(el);
							 });
		            
			}
		});
					  
	return false;
	  					
		});
              
              </script>
            }
                       
     }

