@(studentForm: Form[models.admission.Student])
@import helper._
@import models.admission.Degree
@import models.admission.ClassYear
@import models.admission.SectionSemester

@main("Edit Student"){
  <h2>Update the Student having ID @studentForm.get.sid</h2><br/><br/>
  
  @form(routes.StudentManagement.update()) {
  	  <input type="hidden" name="sid" value=@studentForm.get.sid>
  	  
      @inputText(studentForm("name"), '_label->"Student Name")</tr>
       
      <label>Gender</label>
	   <input type="radio" name="gender"value="Male" @if(studentForm.get.gender.toString=="Male"){selected}><label>Male</label>
       <input type="radio" name="gender"value="Female" @if(studentForm.get.gender.toString=="Female"){selected}><label>Female</label>
      </select>
	 
	  @inputDate(field=studentForm("dateOfBirth"), '_label->"Date of Birth")

    
	   <select name="placeOfBirth" >
        @for((id, name) <- District.getDistrictsAsMap){
          <option value="@id" @if(studentForm.get.placeOfBirth.toString==id){selected}>@name</option>
        }
        </select>
        @inputText(field=studentForm("nationality"), args='_label->"Nationality")
		@textarea(field=studentForm("presentAddress"), 'rows -> 3, 'cols -> 50, '_label->"Present Address")
	    @textarea(field=studentForm("permanentAddress"), 'rows -> 3, 'cols -> 50, '_label->"Permanent Address")


 	 <label>Religion</label>
	   <select name="religion" >
         <option value="Islam" @if(studentForm.get.religion.toString=="Islam"){selected}>Islam</option>
         <option value="Hindu" @if(studentForm.get.religion.toString=="Hindu"){selected}>Hindu</option>
         <option value="Christian" @if(studentForm.get.religion.toString=="Islam"){selected}>Christian</option>
         <option value="Buddhist" @if(studentForm.get.religion.toString=="Islam"){selected}>Buddhist</option>
         <option value="Others" @if(studentForm.get.religion.toString=="Islam"){selected}>Others</option>
       </select>
	  

	   <label>Blood Group</label>
	   <select name="bloodGroup" >
         <option value="O-" @if(studentForm.get.bloodGroup.toString=="O+"){selected}>O+</option>
         <option value="O+" @if(studentForm.get.bloodGroup.toString=="O+"){selected}>O+</option>
         <option value="A-" @if(studentForm.get.bloodGroup.toString=="A-"){selected}>A-</option>
         <option value="A+" @if(studentForm.get.bloodGroup.toString=="A+"){selected}>A+</option>
         <option value="B-" @if(studentForm.get.bloodGroup.toString=="B-"){selected}>B-</option>
         <option value="B+" @if(studentForm.get.bloodGroup.toString=="B+"){selected}>B+</option>
         <option value="AB-" @if(studentForm.get.bloodGroup.toString=="AB-"){selected}>AB-</option>
         <option value="AB+" @if(studentForm.get.bloodGroup.toString=="AB+"){selected}>AB+</option>
      </select>

	   <label>Marital status</label>
	   <input type="radio" name="maritalStatus"value="Single" @if(studentForm.get.maritalStatus.toString=="Single"){selected}><label>Single</label>
       <input type="radio" name="maritalStatus"value="Married" @if(studentForm.get.maritalStatus.toString=="Married"){selected}><label>Married</label>
      </select>

 
          
		@inputText(field=studentForm("mobile"), args='_label->"Mobile")
	    @inputText(field=studentForm("email"), args='_label->"Email")
  
	 

	 
	     <select name="department.id" >
        @for((id, name) <- District.getDistrictsAsMap){
          <option value="@id" @if(studentForm.get.department.id.toString==id){selected}>@name</option>
        }
        </select>	 
	     	 
 	     <select name="degree.id" >
        @for((id, name) <- Degree.getDegreesAsMap){
          <option value="@id" @if(studentForm.get.degree.id.toString==id){selected}>@name</option>
        }
        </select>	
        	     <select name="classYear.id" >
        @for((id, name) <- ClassYear.getClassYearsAsMap){
          <option value="@id" @if(studentForm.get.classYear.id.toString==id){selected}>@name</option>
        }
        </select>	
        	     <select name="sectionSemester.id" >
        @for((id, name) <- SectionSemester.getSectionSemestersAsMap){
          <option value="@id" @if(studentForm.get.sectionSemester.id.toString==id){selected}>@name</option>
        }
        </select>	
       
	 
	 
	 
	  <input type="submit" value="Update">
	  
	  
	  
	  
  }
}