@(student: models.admission.Student)
@import services.Utils
@import models.District
@import models.admission.Parent

@import helper._

@main("Student"){
<!-- main content -->   
   <div id="main_wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="heading_a"><span class="heading_text">Student Details</span></div>
       <img src=@routes.Assets.at("images/photos/student/"+student.name.replaceAll("\\s+","")+student.sid+"_image.png") alt="" title="" width="200" height="200" border="0" style="margin-left: 18px;"/></span>
      
        <div class="col-md-12">
           <label for="StudentName">Student Name</label>
           <span class="form-control">@student.name</span>
        </div>
        <div class="col-md-12">
          <label for="gender">Gender</label>
          <span class="form-control">@student.gender</span>
        </div>
        
        <div class="col-md-12">
          <label for="dob">Date of Birth</label>
          <span class="form-control">@Utils.formatDate(student.dateOfBirth)</span>
        </div>
      
        <div class="col-md-12">
          <label for="birthPlace">Place of Birth</label>
          <span class="form-control">@District.findById(Long.parseLong(student.placeOfBirth)).name</span>
        </div>
        <div class="col-md-12">
          <label for="nationality">Nationality</label>
          <span class="form-control">@student.nationality</span>
        </div>
        <div class="col-md-12">
          <label for="pAddress">Present Address</label>
          <span class="form-control">@student.presentAddress</span>
        </div>
        <div class="col-md-12">
           <label for="perAddress">Permanent Address</label>
           <span class="form-control">@student.permanentAddress</span>
        </div>
        <div class="col-md-12">
          <label for="religion">Religion</label>
          <span class="form-control">@student.religion</span>
        </div>
        <div class="col-md-12">
          <label for="bGroup">Blood group</label>
          <span class="form-control">@student.bloodGroup</span>
        </div>
        <div class=""col-md-12>
          <label for="mStatus">Marital Status</label>
          <span class="form-control">@student.maritalStatus</span>
        </div>
        <div class=""col-md-12>
          <label for="mNo">Mobile No</label>
          <span class="form-control">@student.mobile</span>
        </div>
        <div class=""col-md-12>
          <label for="email">Email</label>
          <span class="form-control">@student.email</span>
        </div>
        <div class=""col-md-12>
          <label for="parentName">Father's Name</label>
          <span class="form-control"><a href="@routes.ParentManagement.show(student.parentId)">@Parent.findById(student.parentId).fatherName</a></span>
        </div>
        <div class="col-md-12">
          <label for="deptName">Department Name</labe> 
          <span class="form-control">@student.department.name</span>
        </div>
        <div class="col-md-12">
           <label for="degName">Degree Name</label>
           <span class="form-control">@student.degree.name</span>
        </div>
        <div class="col-md-12">
           <label for="className">Class or Year</label>
           <span class="form-control">@student.classYear.name</span>
        </div>
        <div class="col-md-12">
           <label for="sectionName">Section or Semester</label>
           <span class="form-control">@student.sectionSemester.name</span>
        </div>
        <div class="col-md-12">
           <label for="creditCom">Complete Credit</label>
           <span class="form-control">@student.completecredit</span>
        </div>
        <div class="col-md-12">
           <label for="needCom">Need to complete</label>
           <span class="form-control">@(student.atleastCredit-student.completecredit)</span>
        </div>
      </div>
    </div>
   </div>     
        
    @*<tr> <th >Division</th> <td>@student.division.name</td> </tr>
    <tr> <th >District</th> <td>@student.district.name</td> </tr>*@    
   <div class="col-md-12">
     @form(routes.StudentManagement.edit(student.sid)) {
		    <input type="submit" value="Edit" class="btn btn-primary">
  		  }
   </div> 	
  </div>
 </div>
</div>    	  
     }

     