@(deptForm: Form[models.admission.Department])
@import helper._
@import  models.admission.Faculty

@main("Department Entry") {
<!-- main content -->
  <div id="main_wrapper">
    <div class="container-fluid">
      <div class="col-md-12">
        <div class="heading_a"><span class="heading_text">Create Department</span></div>
          @form(routes.DepartmentManagement.save()) {
          <div class="row"> 
           <label for="deptID"></label>
           <select name="faculty.id" id="deptID" class="form-control">      		
       		  <option></option>
       		  <optgroup label="Find Faculty">
       		     @for((id,name)<-Faculty.getFacultiesAsMap){
       		        <option value="@id">@name</option>
       		     }
       		  </optgroup>
		    )
		   </select> 
          </div>
          <div class="row">
            @inputText(field=deptForm("name"), '_showConstraints -> false, 'class->"form-control",'_label->"Department Name")
          </div>  
          <div class="row">
            <input type="submit" value="Create" class="btn btn-primary">
          </div>  
            }
      </div>
    </div>
  </div>                 
     }

