@(teacherForm: Form[models.admission.Teacher])
@import helper._
@import models.admission.Department
@import models.admission.Designation

@main("Edit Teacher"){
  <div id="main_wrapper">
   <div class="container-fluid">
     <div class="row">
      <div class="col-md-12">
        <div class="heading_a"><span class="heading_text">Edit Teacher Information</span></div>  
      </div>  
		  @form(routes.TeacherManagement.update()) {
		  	 <input type="hidden" name="tid" value=@teacherForm.get.tid >
		  	 <div class="col-md-12"> 
		      @inputText(field=teacherForm("name"), '_label->"Teacher Name")
		     </div> 
		      <legend>Academic Qualification 1:</legend>
				<div class="col-md-12">
				  <div class="form-group">
				    <label for="label1">Level of Education</label>
				      <select name="levelOfEducation1" id="levelOfEducation1" class="form-control">
				       <option></option>
				       <optgroup label="Find Degree">
				       <option value="SSC">SSC</option>
				       <option value="HSC">HSC</option>
				       <option value="Diploma">Diploma</option>
				       <option value="Bachelor">Bachelor/Honors</option>
				       <option value="Masters">Masters</option>
				       <option value="Doctoral">Doctoral</option>
				       </optgroup>
				      </select>
				   </div>   
				  </div>
				  <div class="col-md-12">
					<div class="form-group">
					  <label for="degree1">Degree Title</label>
					  <input type="text" name="degree1" class="form-control">
					</div>
			      </div>
			      <div class="col-md-12">
				    <div class="form-group">
				      <label for="majorOrGroup1">Major or group</label>
				      <input type="text" name="majorOrGroup1" class="form-control">
				    </div>
				   </div> 
				   <div class="col-md-12">
					<div class="form-group">
					  <label for="eduInstitute1">Institute Name</label>
					  <input type="text" name="instituteName1" class="form-control">
					</div>
					</div>
					<div class="col-md-12">
					 <div class="form-group">
					   <label for="eduResult">Result</label>
					   <input type="text" name="result1" class="form-control">
					 </div>
				    </div>
					<div class="col-md-12">
					  <div class="form-group">
					    <label for="eduPassing">Year of Passing</label>
					    <input type="text" name="year1" class="form-control">
					  </div>
					 </div>
					 <div class="col-md-12">
					   <div class="form-group">
					     <label for="eduPassing">Duration</label>
					     <input type="text" name="duration1" class="form-control">
					   </div>
					 </div>
					 <legend>Academic Qualification 2:</legend>
				      <div class="col-md-12">
				       <div class="form-group">
				        <label for="label2">Level of Education</label>
				          <select name="levelOfEducation2" id="levelOfEducation2" class="form-control">
						        <option></option>
						          <optgroup label="Find Degree">
						            <option value="SSC">SSC</option>
						            <option value="HSC">HSC</option>
						            <option value="Diploma">Diploma</option>
						            <option value="Bachelor">Bachelor/Honors</option>
						            <option value="Masters">Masters</option>
						            <option value="Doctoral">Doctoral</option>
						          </optgroup>
					          </select>
				           </div>   
						 </div>
						 <div class="col-md-12">
					      <div class="form-group">
					        <label for="degree1">Degree Title</label>
					        <input type="text" name="degree2" class="form-control">
					      </div>
					     </div>
			  		     <div class="col-md-12">
					      <div class="form-group">
					        <label for="majorOrGroup1">Major or group</label>
					        <input type="text" name="majorOrGroup2" class="form-control">
					      </div>
					     </div> 
						 <div class="col-md-12">
						   <div class="form-group">
						     <label for="eduInstitute1">Institute Name</label>
						     <input type="text" name="instituteName2" class="form-control">
						   </div>
						 </div>
						 <div class="col-md-12">
						   <div class="form-group">
						     <label for="eduResult">Result</label>
						     <input type="text" name="result2" class="form-control">
						   </div>
						  </div>
					      <div class="col-md-12">
						     <div class="form-group">
						        <label for="eduPassing">Year of Passing</label>
						        <input type="text" name="year2" class="form-control">
						      </div>
						   </div>
						   <div class="col-md-12">
						     <div class="form-group">
						        <label for="eduPassing">Duration</label>
						        <input type="text" name="duration2" class="form-control">
						      </div>
						   </div>
						   <legend>Academic Qualification 3:</legend>
					         <div class="col-md-12">
					           <div class="form-group">
					             <label for="label1">Level of Education</label>
					              <select name="levelOfEducation1" id="levelOfEducation3" class="form-control">
							        <option></option>
							          <optgroup label="Find Degree">
							            <option value="SSC">SSC</option>
							            <option value="HSC">HSC</option>
							            <option value="Diploma">Diploma</option>
							            <option value="Bachelor">Bachelor/Honors</option>
							            <option value="Masters">Masters</option>
							            <option value="Doctoral">Doctoral</option>
							          </optgroup>
						          </select>
					           </div>   
							 </div>
						     <div class="col-md-12">
					          <div class="form-group">
					           <label for="degree1">Degree Title</label>
					           <input type="text" name="degree3" class="form-control">
					          </div>
					         </div>
				  		     <div class="col-md-12">
						      <div class="form-group">
						        <label for="majorOrGroup1">Major or group</label>
						        <input type="text" name="majorOrGroup3" class="form-control">
						      </div>
						     </div> 
							 <div class="col-md-12">
							   <div class="form-group">
							     <label for="eduInstitute1">Institute Name</label>
							     <input type="text" name="instituteName3" class="form-control">
							   </div>
							 </div>
							  <div class="col-md-12">
							   <div class="form-group">
							     <label for="eduResult">Result</label>
							     <input type="text" name="result3" class="form-control">
							   </div>
							  </div>
					        <div class="col-md-12">
						     <div class="form-group">
						        <label for="eduPassing">Year of Passing</label>
						        <input type="text" name="year3" class="form-control">
						      </div>
						     </div>
						     <div class="col-md-12">
						     <div class="form-group">
						        <label for="eduPassing">Duration</label>
						        <input type="text" name="duration3" class="form-control">
						      </div>
						   </div>                         
	                       <legend>Academic Qualification 4:</legend>
					        <div class="col-md-12">
					         <div class="form-group">
					          <label for="label1">Level of Education</label>
					           <select name="levelOfEducation4" id="levelOfEducation4" class="form-control">
							       <option></option>
							       <optgroup label="Find Degree">
							       <option value="SSC">SSC</option>
							       <option value="HSC">HSC</option>
							       <option value="Diploma">Diploma</option>
							       <option value="Bachelor">Bachelor/Honors</option>
							       <option value="Masters">Masters</option>
							       <option value="Doctoral">Doctoral</option>
							       </optgroup>
						        </select>
					          </div>   
							 </div>
						     <div class="col-md-12">
					          <div class="form-group">
					           <label for="degree1">Degree Title</label>
					           <input type="text" name="degree4" class="form-control">
					          </div>
					         </div>
				  		     <div class="col-md-12">
						      <div class="form-group">
						        <label for="majorOrGroup1">Major or group</label>
						        <input type="text" name="majorOrGroup4" class="form-control">
						      </div>
						     </div> 
							 <div class="col-md-12">
							   <div class="form-group">
							     <label for="eduInstitute1">Institute Name</label>
							     <input type="text" name="instituteName4" class="form-control">
							   </div>
							 </div>
							  <div class="col-md-12">
							   <div class="form-group">
							     <label for="eduResult">Result</label>
							     <input type="text" name="result4" class="form-control">
							   </div>
							  </div>
					        <div class="col-md-12">
						     <div class="form-group">
						        <label for="eduPassing">Year of Passing</label>
						        <input type="text" name="year4" class="form-control">
						      </div>
						     </div>
						     <div class="col-md-12">
						     <div class="form-group">
						        <label for="eduPassing">Duration</label>
						        <input type="text" name="duration4" class="form-control">
						      </div>
						   </div>
						   <legend>Academic Qualification 5:</legend>
					        <div class="col-md-12">
					         <div class="form-group">
					          <label for="label1">Level of Education</label>
					           <select name="levelOfEducation5" id="levelOfEducation5" class="form-control">
							       <option></option>
							       <optgroup label="Find Degree">
							       <option value="SSC">SSC</option>
							       <option value="HSC">HSC</option>
							       <option value="Diploma">Diploma</option>
							       <option value="Bachelor">Bachelor/Honors</option>
							       <option value="Masters">Masters</option>
							       <option value="Doctoral">Doctoral</option>
							       </optgroup>
						        </select>
					          </div>   
							 </div>
						     <div class="col-md-12">
					          <div class="form-group">
					           <label for="degree1">Degree Title</label>
					           <input type="text" name="degree5" class="form-control">
					          </div>
					         </div>
				  		     <div class="col-md-12">
						      <div class="form-group">
						        <label for="majorOrGroup1">Major or group</label>
						        <input type="text" name="majorOrGroup5" class="form-control">
						      </div>
						     </div> 
							 <div class="col-md-12">
							   <div class="form-group">
							     <label for="eduInstitute1">Institute Name</label>
							     <input type="text" name="instituteName5" class="form-control">
							   </div>
							 </div>
							  <div class="col-md-12">
							   <div class="form-group">
							     <label for="eduResult">Result</label>
							     <input type="text" name="result5" class="form-control">
							   </div>
							  </div>
					        <div class="col-md-12">
						     <div class="form-group">
						        <label for="eduPassing">Year of Passing</label>
						        <input type="text" name="year5" class="form-control">
						      </div>
						     </div>
						     <div class="col-md-12">
						     <div class="form-group">
						        <label for="eduPassing">Duration</label>
						        <input type="text" name="duration5" class="form-control">
						      </div>
						   </div>
		                   <div class="col-md-12">
		                     <div class="form-group">
		                       <label>Department</label>
						      	<select name="department.id" class="form-control" id="deptID">
						        @for((id, name) <- Department.getDepartmentsAsMap){
						          <option value="@id" @if(teacherForm.get.department.id.toString==id){selected}>@name</option>
						        }
						        </select>	
		                     </div>
		                   </div>  
		    	           <div class="col-md-12">
					        <label>Designation</label>
					        <select name="designation.id" id="desID" class="form-control">
					        @for((id, name) <- Designation.getDesignationsAsMap){
					          <option value="@id" @if(teacherForm.get.department.id.toString==id){selected}>@name</option>
					        }
					        </select>	
		                  </div>
		                  <div class="col-md-12">		        
			                <input type="submit" class="btn btn-primary" value="Update">
			              </div>   
		  }
	           </div>
	       </div>
	 </div>   
}
