@(teacher: models.admission.Teacher)

@import helper._

@main("Teacher"){
 <div id="main_wrapper">
   <div class="container-fluid">
     <div class="row">
        <div class="heading_a"><span class="heading_text">Teacher Details Information</span></div>  
         <div class="col-md-12">
           <label>Teacher Name</label>
           <span class="col-md-12">@teacher.name</span>
         </div>
         <div class="col-md-12">
          <img src=@routes.Assets.at("images/photos/employee/"+teacher.name.replaceAll("\\s+","")+teacher.employeeId+"_image.png") alt="" title="" width="200" height="200" border="0" style="margin-left: 18px;"/>
         </div>
         <div class="col-md-12">
           <label>Department</label>
           <span class="form-control">@teacher.department.name</span>
         </div>
         <div class="col-md-12">
          <label>Designation</label>
          <span class="form-control">@teacher.designation.name</span>
         </div>
          <legend>Academic Qualification 1:</legend>
	       <div class="col-md-12">
	          <label for="label1">Level of Education</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Degree Title</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Major or Group</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Institute Name</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Result</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Year of Passing</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Duration</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
           <legend>Academic Qualification 2:</legend>
	       <div class="col-md-12">
	          <label for="label1">Level of Education</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Degree Title</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Major or Group</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Institute Name</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Result</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Year of Passing</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Duration</label>
	          <span class="form-control">
	          
	          </span>
	       </div><legend>Academic Qualification 3:</legend>
	       <div class="col-md-12">
	          <label for="label1">Level of Education</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Degree Title</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Major or Group</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Institute Name</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Result</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Year of Passing</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Duration</label>
	          <span class="form-control">
	          
	          </span>
	       </div><legend>Academic Qualification 4:</legend>
	       <div class="col-md-12">
	          <label for="label1">Level of Education</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Degree Title</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Major or Group</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Institute Name</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Result</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Year of Passing</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Duration</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <legend>Academic Qualification 5:</legend>
	       <div class="col-md-12">
	          <label for="label1">Level of Education</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Degree Title</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Major or Group</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Institute Name</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Result</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Year of Passing</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
	       <div class="col-md-12">
	          <label for="label1">Duration</label>
	          <span class="form-control">
	          
	          </span>
	       </div>
   
     @form(routes.TeacherManagement.edit(teacher.tid)) {
          <div class="col-md-12">
		    <input type="submit" class="btn btn-primary" value="Edit">
		  </div>  
  		  }
</div>
</div>
</div>	
     }

     