@(teacherCourseForm: Form[models.admission.TeacherCourse])
@import models.admission.Teacher
@import models.admission.Course
@import helper._

@main(""){
<div id="main_wrapper">
   <div class="container-fluid">
     <div class="row">
      <div class="col-md-12">
        <div class="heading_a"><span class="heading_text">Update Assigned Courses</span></div>  
      </div>  
       @form(routes.TeacherCourseManagement.update()) {

		<input type="hidden" name="id" value=teacherCourseForm>
		<div class="col-md-12">
		   <label for="techID">Select Teacher</label>
		   <select name="teacher.id" id="techID" class="form-control">
		      <option></option>
		      <optgroup label="Find Teacher">
		        @for((id,name)<-Teacher.getTeachersAsMap){
		          <option value="@id">@name</option>
		        }
		      </optgroup>
		   </select>
	    </div>
	    <div class="col-md-12">
	      <label id="corID">Select Course</label>
	      <select name="course.id" id="corID" class="form-control">
	         <option></option>
	         <optgroup label="Find Course">
	            @for((id,name)<-Course.getCoursesAsMap){
	              <option value="@id">@name</option>
	            }
	         </optgroup>
	      </select>
		</div>
		<div class="col-md-12"
		 <input type="submit" class="btn btn-primary" value="Save">
		</div>
		}
    </div>
  </div>
 </div>
</div>    
}