@(teacherCourse: models.admission.TeacherCourse)
@import helper._

@main(""){
   
@if(flash.get("msg")) {
<b>@flash.get("msg")</b>
}

<div id="main_wrapper">
   <div class="container-fluid">
     <div class="row">
      <div class="col-md-12">
        <div class="heading_a"><span class="heading_text">Teacher's Course</span></div>  
      </div>  
      <div class="col-md-12">
        <label for="techID">Teacher Id</label>
        <span class="form-control">@teacherCourse.teacher.tid</span>
      </div>
      <div class="col-md-12">
        <label for="techName">Teacher Name</label>
        <span class="form-control">@teacherCourse.teacher.name</span>
      </div>
      <div class="col-md-12">
        <label for="corID">Course Id</label>
        <span class="form-control">@teacherCourse.course.id</span>
      </div>
      <div>
        <label for="corName">Course Name</label>
        <span class="form-control">@teacherCourse.course.name</span>
      </div>
		@form(routes.TeacherCourseManagement.edit(teacherCourse.id)) {
	  <div class="col-md-12">	
		<input type="submit" class="btn btn-primary" value="Edit">
      </div>		
		}
     </div>
   </div>
  </div>
</div>      

}