@(studentCourse: models.admission.StudentCourse)
@import helper._

@main(""){
   
@if(flash.get("msg")) {
<b>@flash.get("msg")</b>
}
 <div id="main_wrapper">
    <div class="container-fluid">
     <div class="row">
      <div class="heading_a"><span class="heading_text">Student's Course Information</span></div>
       <div class="col-md-12">
          <label for="stdID">Student Id</label>
          <span class="form-control">@studentCourse.student.sid</span>
       </div>
      <div class="col-md-12">
        <label for="stdName">Student Name</label>
        <span class="form-control">@studentCourse.student.name</span>
      </div>
      <div class="col-md-12">
        <label for="courID">Course Id</label>
        <span class="form-control">@studentCourse.course.id</span>
      </div>
      <div class="col-md-12">
        <label for="couName">Course Name</label>
        <span class="form-control">@studentCourse.course.name</span>
    </div>
    @form(routes.StudentCourseManagement.edit(studentCourse.id)) {
     <div class="col-md-12">
       <input type="submit" value="Edit" class="btn btn-primary">
     </div>  
     }
   </div>
  </div>
 </div>   
}