@(permissionForm: Form[models.Permission]) @import helper._


@main("Permission Entry") { @form(routes.PermissionManagement.save()) {

<div id="main_wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="heading_a">
					<span class="heading_text">Create Permission</span>
				</div>
				<div class="row">
					<div class="col-md-12">
						@inputText(field=permissionForm("permissionName"),
						'_showConstraints -> false, 'class->"form-control",
						'_label->"Permission Name")</div>
					<div class="col-md-12">
						<input type="submit" value="Create" class="btn btn-primary">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
} }

