@(permission: models.Permission)
@import helper._

@main(""){
<div id="main_wrapper">
   <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
           <label for="catName">Permission Name</label>
           <span class="form-control" id="catName">@permission.permissionName</span>
        </div>  
      </div> 
  
   
     @form(routes.PermissionManagement.edit(permission.id)) {
	 <div class="row">  
	    <div class="col-md-12">
	      <input type="submit" value="Edit" class="btn btn-primary">
	    </div>
	  </div>  
	  }
  </div>
</div>			   		    	  		  
   }
