@(menuForm: Form[models.Menu])
@import helper._


@main("Menu Entry") {
	
       @form(routes.MenuManagement.save()) { 
          <div id="main_wrapper">
          <div class="container-fluid">
             <div class="row">
                 <div class="col-md-12">
                     <div class="heading_a"><span class="heading_text">Create Menu</span></div>
                        <div class="row">
                            <div class="col-md-12">
              
              @inputText(field=menuForm("name"),'_showConstraints -> false, 'class->"form-control",'_label->"Menu Text")
               </div>
                             <div class="col-md-12">
                              <input type="submit" value="Create" class="btn btn-primary">
                             </div> 
                        </div>
                     </div>
                 </div>
               </div>
             </div>
            }
                       
     }

