@(menu: models.Menu)
@import helper._

@main(""){
<div id="main_wrapper">
   <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
        <label for="catName">Menu Name</label>
           <span class="form-control" id="catName">@menu.name</span>
        </div>  
      </div>  
         @form(routes.MenuManagement.edit(menu.id)) {
		    <div class="row">  
	    <div class="col-md-12">
	      <input type="submit" value="Edit" class="btn btn-primary">
	    </div>
	  </div>  
	  }
  </div>
</div>			   		    	  		  
   }
