@(universityForm: Form[models.admission.University])
@import helper._

@main("University Entry") {
<!-- main content -->
  <div id="main_wrapper">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-12">
             <div class="heading_a"><span class="heading_text">Create University</span></div>
                <div class="row">
                  @form(routes.UniversityManagement.save()) { 
	              @inputText(field=universityForm("name"), '_showConstraints -> false, 'class->"form-control", '_label->"University Name")
	              @inputText(field=universityForm("email"), '_showConstraints -> false, 'class->"form-control", '_label->"University Email")
	              @textarea(field=universityForm("address"), '_showConstraints -> false, 'class->"form-control",'rows -> 3, 'cols -> 50, 'id->"wysiwg_editor",'_label->"University Address")
	              @textarea(field=universityForm("personDetails"), '_showConstraints -> false, 'class->"form-control",'rows -> 3, 'cols -> 50, 'id->"person_editor",'_label->"University Person Details")
	              @inputText(field=universityForm("contactNo"), '_showConstraints -> false, 'class->"form-control",'_label->"University Contact No")
	              <div class="col-md-12"> 	
	             	<input type="submit" value="Create" class="btn btn-primary">
	              </div> 	
                  }
                </div>
              </div>
          </div>
        </div>
      </div>
   </div>                  
     }

