@(universityForm: Form[models.admission.University])
@import helper._


@main("University Entry") {

       @form(routes.UniversityManagement.save()) { 
              @inputText(field=universityForm("name"), args='_label->"University Name")
              @inputText(field=universityForm("email"), args='_label->"University Email")
              @textarea(field=universityForm("address"), 'rows -> 3, 'cols -> 50, '_label->"University Address")
              @textarea(field=universityForm("personDetails"), 'rows -> 3, 'cols -> 50, '_label->"University Person Details")
              @inputText(field=universityForm("contactNo"), args='_label->"University Contact No")
             	<input type="submit" value="Create">
            }
                       
     }

