@(universityForm: Form[models.admission.University])
@import helper._

@main("Edit University"){
  <h2>Update the University having ID @universityForm.get.id</h2><br/><br/>
  
  @form(routes.UniversityManagement.update()) {
  	  <input type="hidden" name="id" value=@universityForm.get.id >
  	  
      @inputText(universityForm("name"), '_label->"University Name")
      @inputText(field=universityForm("email"), '_label->"University Email")
      @inputText(field=universityForm("address"), '_label->"University Address")
      @inputText(field=universityForm("personDetails"), '_label->"University Person Details")
      @inputText(field=universityForm("contactNo"), '_label->"University Contact No")
	  <input type="submit" value="Update">
  }
}