@(universities: List[models.admission.University])
@import helper._

@mainlist("List of University"){

 
  	@if(flash.get("msg")){
         	<span>@flash.get("msg")</span>
     }
  <!-- main content -->
            <div id="main_wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="datatable_demo" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
								       <th>ID</th>
								       <th>University Name</th>
								       <th>University Email</th>
								       <th>University Address</th>
								       <th>University Person Details</th>
								       <th>University Contact No</th>
								     </tr>
								   </thead>
								    <tbody>
								    @for(university <- universities) {
								      <tr>
								        <td><a href="@routes.UniversityManagement.show(university.id)">@university.id</a></td>
								        <td>@university.name</td>
								        <td>@university.email</td>
								       	<td>@university.address </td>
								         <td>@university.personDetails</td>
								         <td>@university.contactNo </td>
								      </tr> 
								    }
								 </tbody>
							  </table>
							</div>
					     </div>
					   </div>
					</div>     		  

}      