@(universities: List[models.admission.University])
@import helper._

@main("List of University"){

 
  	@if(flash.get("msg")){
         	<span>@flash.get("msg")</span>
     }
  
  <table>
  <thead>
    <tr>
       <th>ID</th>
       <th>University Name</th>
       <th>University Email</th>
       <th>University Address</th>
       <th>University Person Details</th>
       <th>University Contact No</th>
     </tr>
   </thead>
    <tbody>
    @for(university <- universities) {
      <tr>
        <td><a href="@routes.UniversityManagement.show(university.id)">@university.id</a></td>
        <td>@university.name</td>
        <td>@university.email</td>
       	<td>@university.address </td>
         <td>@university.personDetails</td>
         <td>@university.contactNo </td>
      </tr> 
    }
 </tbody>
 </table>

}      