@(university: models.admission.University)
@import helper._

@main(""){
    <!-- main content -->   
 <div id="main_wrapper">
   <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
           <label for="uniName">University Name</label>
           <span class="form-control" id="uniName">@university.name</span>
        </div>  
      </div>
      <div class="row">  
        <div class="col-md-12">
           <label for="uniEmail">University Email</label>
           <span class="form-control" id="uniEmail">@university.email</span>
        </div>   
      </div>
      <div class="row">  
        <div class="col-md-12">
           <label for="uniAddress">University Address</label>
           <span class="form-control" id="uniAddress">@university.address</span>
        </div>     
      </div>
      <div class="row">  
        <div class="col-md-12">
           <label for="uniPerson">University Person Details</label>
           <span class="form-control" id="uniPerson">@university.personDetails</span>
        </div> 	
      </div>
      <div class="row">  
        <div class="col-md-12">
           <label for="uniContact">University Contact No</label>
           <span class="form-control" id="uniContact">@university.contactNo</span>
        </div> 			
      </div>  		   
	    @form(routes.UniversityManagement.edit(university.id)) {
	  <div class="row">  
 	    <div class="col-md-12">
		   <input type="submit" value="Edit" class="btn btn-primary">
		</div>  
      </div>		
  		 }
  </div>
</div>			   		    	  		  
 }
    
