@(isChecked :List[Boolean])(content: Html)
@import models.Role
@import helper._


@main(""){
  @content
<div id="main_wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="heading_a"><span class="heading_text">User Permission</span></div>  
           <div class="col-md-12">
			  <table class="table table-striped table-bordered" cellspacing="0" width="100%">
			    <thead>
			      <tr align="center">
			        <th>Active</th>
			        <th>Role Name</th>
			      </tr>
			    </thead>  
			    <tbody>
			    @for((role, idx) <- Role.all.zipWithIndex) {
			    <tr align="center">
			        <td><input type="radio" name="roleId" value="@role.id" @(if(isChecked.get(idx)== true) "checked")></td>
			        
			        <td>@Role.get(role.id).roleName</td>
			    </tr>
			    }
			   </tbody> 
			  </table>
		  </div>	  
          <div class="col-md-12">
            <input type="submit" value="Assign Role" class="btn btn-primary">
          </div>
         </form>
       </div>
     </div>
   </div>
 </div>   
}