@(courseForm: Form[models.admission.Course])
@import helper._
@import  models.admission.Department

@main("Course Entry") {
<!-- main content -->
  <div id="main_wrapper">
    <div class="container-fluid">
      <div class="row">
          <div class="heading_a"><span class="heading_text">Create Course</span></div>
            @form(routes.CourseManagement.save()) { 
       		 <div class="col-md-12">
       		     @inputText(field=courseForm("name"), '_showConstraints->false,'class->"form-control",'_label->"Course Name")
       		 </div>
             <div class="col-md-12"> 
               @inputText(field=courseForm("code"), '_showConstraints->false,'class->"form-control",'_label->"Course Code")
             </div>  
             <div class="col-md-12">
                @inputText(field=courseForm("credit"), '_showConstraints->false,'class->"form-control",'_label->"Course Credit")
             </div>   
             <div class="col-md-12">
              <input type="submit" value="Create" class="btn btn-primary">
             </div> 
            }   
     </div>
  </div>          
</div>                       
     }

