@(course: models.admission.Course)
@import helper._

@main(""){
<div id="main_wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="heading_a"><span class="heading_text">Course Details</span></div>
         <div class="col-md-12">
           <label for="corName">Course Name</label>
           <span class="form-control" id="corName">@course.name</span>
         </div>
         <div class="col-md-12">
           <label for="corID">Course Code</label>
           <span class="form-control" id="corID">@course.code</span>
         </div>
         <div class="col-md-12">
           @form(routes.CourseManagement.edit(course.id)) {
		    <input type="submit" value="Edit" class="btn btn-primary">
  		  }
  		 </div> 
  	  </div>
  	</div>
 </div> 	  	 
     }
