@(role: models.Role)
@import helper._

@main(""){
<div id="main_wrapper">
   <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
           <label for="catName">Role Name</label>
           <span class="form-control" id="catName">@role.roleName</span>
        </div>  
      </div>  
     @form(routes.RoleManagement.edit(role.id)) {
		 <div class="row">  
	    <div class="col-md-12">
	      <input type="submit" value="Edit" class="btn btn-primary">
	    </div>
	  </div>  
	  }
  </div>
</div>			   		    	  		  
   }
