@(degreeForm: Form[models.admission.Degree])
@import helper._
@import  models.admission.Department

@main("Edit Degree"){
<!-- main content -->
  <div id="main_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
          <div class="heading_a"><span class="heading_text">Edit Degree Information</span></div>   
               @form(routes.DegreeManagement.update()) {
  	             <input type="hidden" name="id" value=@degreeForm.get.id >
  	              <div class="row">
  	               <label for="deptID">Select Department</label>
			  	 	<select name="department.id" id="deptID" class="form-control">
					  <option></option>
					    <optgroup label="Find Department">
					      @for((id, name) <- Department.getDepartmentsAsMap){
						  	 	<option value="@id" @if(id==degreeForm.get.department.id.toString){selected}>@name</option>
						     } 
					    </optgroup>
			    	</select>
			      </div> 	
  	              <div class="row">
  	                  @inputText(degreeForm("name"), '_showConstraints -> false, 'class->"form-control",'_label->"Degree Name")
  	              </div>
				  <div class="row">
				      <input type="submit" class="btn btn-primary" value="Update">
				 </div>   
	     </div>
     </div>
</div>		   			  
  }
}