@(degree: models.admission.Degree)
@import helper._

@main(""){
 <!-- main content -->   
   <div id="main_wrapper">
    <div class="container-fluid">
     <div class="col-md-12">
      <div class="heading_a"><span class="heading_text">Degree Details</span></div>
       <div class="row">
          <label for="deptName">Department Name</label>
          <span class="form-control" id="deptName">@degree.department.name</span>
       </div>
       <div class="row">
          <label for="degName">Degree Name</label>
          <span class="form-control" id="degName">@degree.name</span>
       </div>  
       <div class="row">
        @form(routes.DegreeManagement.edit(degree.id)) { 
		  <input type="submit" value="Edit" class="btn btn-primary">
  		 }
       </div>  
      </div>
    </div>
  </div>    
     }
