@(userPermissionForm: Form[models.UserPermission])
@import models.Role
@import helper._

@main(""){
 <div id="main_wrapper">
          <div class="container-fluid">
             <div class="row">
               <div class="col-md-12">
                 <div class="heading_a"><span class="heading_text">Assign Permission</span></div>

				  @form(routes.UserPermissionManagement.createWithRole()){
				      <div class="col-md-12">
				        <label for="roleId">Find Role</label>
				          <select name="roleId" id="roleId" class="form-control">
				             <option></option>
				             <optgroup label="Find Role">
				               @for((id,name)<-Role.getRolesAsMap){
				                 <option value="@id">@name</option>
				                }
				             </optgroup>
				          </select>		
				       </div>
				       <div class="col-md-12">
				         <input type="submit" value="Assign Permission" class="btn btn-primary">
				       </div>  
				       }
                 </div>
              </div>
            </div>
         </div>
}


