@(parentForm: Form[models.admission.Parent])
@import helper._

@main("Edit Parent"){
  <h2>Update the Parent having ID @parentForm.get.pid</h2><br/><br/>
  
  @form(routes.ParentManagement.update()) {
  	  <input type="hidden" name="pid" value=@parentForm.get.pid >
  	  
      @inputText(parentForm("fatherName"), '_label->"Father's Name")
      @inputText(parentForm("fatherEmail"), '_label->"Father's Email")
      @inputText(parentForm("fatherMobile"), '_label->"Father's Mobile no.")
      @inputText(parentForm("fathersLastEduQual"), '_label->"Father's Educational qualification")
      @inputText(parentForm("motherName"), '_label->"Mother's Name")
      @inputText(parentForm("motherMobile"), '_label->"Mother's Mobile no.")
      @inputText(parentForm("mothersLastEduQual"), '_label->"Mother's Educational qualification")
      @inputText(parentForm("numberOfChild"), '_label->"Number of Child") 
	  <input type="submit" value="Update">
     	
  }
}
