@(parentForm: Form[models.admission.Parent])
@import helper._

@main("Edit Parent"){
<div id="main_wrapper">
   <div class="container-fluid">
     <div class="row">
       <div class="heading_a"><span class="heading_text">Edit Parent Information</span></div>
        @form(routes.ParentManagement.update()) {
  	     <input type="hidden" name="pid" value=@parentForm.get.pid >
  	      <div class="col-md-12">
  	         @inputText(parentForm("fatherName"), '_showConstraints -> false, 'class->"form-control", '_label->"Father's Name")
  	      </div>
  	      <div class="col-md-12">
  	         @inputText(parentForm("fatherEmail"), '_showConstraints -> false, 'class->"form-control", '_label->"Father's Email")
  	      </div>
          <div class="col-md-12">
            @inputText(parentForm("fatherMobile"), '_showConstraints -> false, 'class->"form-control", '_label->"Father's Mobile no.")
          </div>
          <div class="col-md-12">
            @inputText(parentForm("fathersLastEduQual"), '_showConstraints -> false, 'class->"form-control", '_label->"Father's Educational qualification")
          </div>
          <div class="col-md-12">
             @inputText(parentForm("motherName"), '_showConstraints -> false, 'class->"form-control", '_label->"Mother's Name")
          </div>
          <div class="col-md-12">
             @inputText(parentForm("motherMobile"), '_showConstraints -> false, 'class->"form-control", '_label->"Mother's Mobile no.")
          </div>
          <div class="col-md-12">
             @inputText(parentForm("mothersLastEduQual"), '_showConstraints -> false, 'class->"form-control", '_label->"Mother's Educational qualification")
          </div>
          <div class="col-md-12">
            @inputText(parentForm("numberOfChild"), '_showConstraints -> false, 'class->"form-control", '_label->"Number of Child") 
          </div>
          <div class="col-md-12">  
	       <input type="submit" class="btn btn-primary" value="Update">
	      </div 
    }
  </div>
 </div>
</div>  
}


