@(parent: models.admission.Parent)

@import helper._

@main("Parent"){

  <table>
    <tr> <th >ID</th> <td>@parent.pid</td> </tr>
    <tr> <th >Father's Name</th> <td>@parent.fatherName</td> </tr>
    <tr> <th>Father's Email</th><td>@parent.fatherMobile</td></tr>
   	 <tr>  <th>Father's Mobile no.</th><td>@parent.fatherEmail</td></tr>
   	 <tr>  <th>Father's Educational qualification</th><td>@parent.fathersLastEduQual</td></tr>
   	 <tr>  <th>Mother's Name</th><td>@parent.motherName</td></tr>
   	 <tr>  <th>Mother's Mobile no.</th><td>@parent.motherMobile</td></tr>
   	 <tr>  <th>Mother's Educational qualification</th><td>@parent.mothersLastEduQual</td></tr>
   	 <tr>  <th>Number of Child </th><td>@parent.numberOfChild</td></tr>
   	 
  </table>
   
     @form(routes.ParentManagement.edit(parent.pid)) {
		    <input type="submit" value="Edit">
  		  }
     }

   
     
      
     
     
      
    
   