@(parent: models.admission.Parent)

@import helper._

@main("Parent"){

  <table>
    <tr> <th >ID</th> <td>@parent.pid</td> </tr>
    <tr> <th >Parent Name</th> <td>@parent.name</td> </tr>
    <tr> <th>Email</th><td>@parent.email</td></tr>
   	 <tr>  <th>Phone</th><td>@parent.phone</td></tr>
   	 <tr>  <th>Fax</th><td>@parent.fax</td></tr>
   	 <tr>  <th>Profession</th><td>@parent.profession</td></tr>
   	 <tr>  <th>Education</th><td>@parent.guardian_edu</td></tr>
   	 <tr>  <th>Relationshipp with Student</th><td>@parent.relationship</td></tr>
   	 
  </table>
   
     @form(routes.ParentManagement.edit(parent.pid)) {
		    <input type="submit" value="Edit">
  		  }
     }

     