@(parent: models.admission.Parent)

@import helper._

@main("Parent"){
<div id="main_wrapper">
   <div class="container-fluid">
     <div class="col-md-12">
      <div class="heading_a"><span class="heading_text">Parent Deatils</span></div>
       <div class="col-md-12">
         <label>Father's Name</label>
         <span class="form-control">@parent.fatherName</span>
       </div>
       <div class="col-md-12">
        <label> Father's Email</label>
        <span class="form-control">@parent.fatherMobile</span>
       </div>
   	   <div class="col-md-12">
   	     <label>Father's Mobile no.</label>
   	     <span class="form-control">@parent.fatherEmail</span>
   	   </div>
   	   <div class="col-md-12">
   	     <label>Father's Educational qualification</label>
   	     <span class="form-control">@parent.fathersLastEduQual</span>
   	   </div>
   	   <div class="col-md-12">
   	     <label>Mother's Name</label>
   	     <span class="col-md-12">@parent.motherName</span>
   	   </div>
   	   <div class="col-md-12">
   	     <label>Mother's Mobile no.</label>
   	     <span class="form-control">@parent.motherMobile</span>
   	   </div>
   	   <div class="col-md-12">
   	     <label>Mother's Educational qualification</label>
   	     <span class="form-control">@parent.mothersLastEduQual</span>
   	   </div>
   	   <div class="col-md-12">
   	    <label>Number of Child </label>
   	    <span class="col-md-12">@parent.numberOfChild</span>
   	   </div>   
     @form(routes.ParentManagement.edit(parent.pid)) {
        <div class="col-md-12">
		    <input type="submit" class="btn btn-primary" value="Edit">
		</div>    
  		  }
     }

   
     
      
     
     
     
      
    
    
   