@(facultyForm: Form[models.admission.Faculty])
@import models.admission.University
@import helper._

@main("Edit Faculty"){
<!-- main content -->
  <div id="main_wrapper">
    <div class="container-fluid">
      <div class="col-md-12">
        <div class="heading_a"><span class="heading_text">Edit Faculty</span></div>
           @form(routes.FacultyManagement.update()) {
  	        <input type="hidden" name="id" value=@facultyForm.get.id >
             <div class="row">        
  	          <label for="universityID"> University Name </label><br>
  	 	      <select name="university.id" id="universityID" class="form-control">
			    <option></option>
			    <optgroup label="Find University">
			  	  @for((id, name) <- University.getUnivsAsMap){
			       <option value="@id" @if(id==facultyForm.get.university.id.toString){selected}>@name</option>
			     } 
    	     </select>
		    </div>
		    <div class="row"> 
             @inputText(facultyForm("name"), '_showConstraints -> false, 'class->"form-control", '_label->"Faculty Name")
            </div>
            <div class="row">
	         <input type="submit" value="Update" class="btn btn-primary">
	        </div>  
  }
}