@(facultyForm: Form[models.admission.Faculty])
@import models.admission.University
@import helper._

@main("Edit Faculty"){
  <h2>Update the Faculty having ID @facultyForm.get.id</h2><br/><br/>
  
  @form(routes.FacultyManagement.update()) {
  	  <input type="hidden" name="id" value=@facultyForm.get.id >
  	  <label> University Name </label><br>
  	 	<select name="university.id">
			 <option value="" class="blank">-- Choose a University --</option>
			  	  @for((id, name) <- University.getUnivsAsMap){
			  	 
			       <option value="@id" @if(id==facultyForm.get.university.id.toString){selected}>@name</option>
			     } 
    	</select>
		    
      @inputText(facultyForm("name"), '_label->"Faculty Name")</tr>
	  <input type="submit" value="Update">
  }
}