@(faculty: models.admission.Faculty)
@import helper._

@main(""){
 <!-- main content -->   
 <div id="main_wrapper">
   <div class="container-fluid">
     <div class="col-md-12">
     <div class="heading_a"><span class="heading_text">Faculty Deatils</span></div>
      <div class="row">
        <label for="uniName">University Name</label>
        <span class="form-control" id="uniName">@faculty.university.name</span>
       </div>  
       <div class="row">
        <label for="facName">Faculty Name</label>
        <span class="form-control" id="facName">@faculty.name</span>
       </div>
       @form(routes.FacultyManagement.edit(faculty.id)) {
        <div class="row">
		    <input type="submit" value="Edit" class="btn btn-primary">
		</div>    
  		}
  	   }
      </div>
   </div>
 </div>        
