@(designations: List[models.admission.Designation])
@import helper._

@mainlist("List of Designations"){

  	@if(flash.get("msg")){
         	<span>@flash.get("msg")</span>
     }
   <!-- main content -->
  <div id="main_wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <table id="datatable_demo" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead> 
             <tr>
              <th>ID</th>
              <th>Department Name</th>
             </tr>
           </thead>
           <tbody>
  <table>
  <thead>
    <tr>
       <th>ID</th>
       <th>Designation Name</th>
     </tr>
   </thead>
    <tbody>
    @for(designation <- designations) {
      <tr>
        <td><a href="@routes.DesignationManagement.show(designation.id)">@designation.id</a></td>
        <td>@designation.name</td>
      </tr> 
    }
 </tbody>
 </table>
   <a href="@routes.DesignationManagement.create()">Create Another Designation</a>
}      