@(classYearForm: Form[models.admission.ClassYear])
@import helper._
@import models.admission.Degree

@main("Edit Class Or Year"){
  <h2>Update the Class/Year having ID @classYearForm.get.id</h2><br/><br/>
  
  @form(routes.ClassYearManagement.update()) {
  	  <input type="hidden" name="id" value=@classYearForm.get.id >
  	  <label>Degree</label>
  	   <select name="degree.id" >
        @for((id, name) <- Degree.getDegreesAsMap){
          <option value="@id" @if(classYearForm.get.degree.id.toString==id){selected}>@name</option>
        }
        </select>
  	  
      @inputText(classYearForm("name"), '_label->"Class or Year Name")</tr>
	  <input type="submit" value="Update">
  }
}