@(classYears: List[models.admission.ClassYear])
@import helper._

@mainlist("List of Class or Year"){

 
  	@if(flash.get("msg")){
         	<span>@flash.get("msg")</span>
     }
   <!-- main content -->
  <div id="main_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
          <table id="datatable_demo" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead> 
             <tr>
              <th>ID</th>
              <th>Class or Year Name</th>
              <th>Degree</th>
             </tr>
           </thead>
           <tbody>
             @for(classYear <- classYears) {
            <tr>
             <td><a href="@routes.ClassYearManagement.show(classYear.id)">@classYear.id</a></td>
             <td>@classYear.name</td>
             <td>@classYear.degree.name</td>
           </tr> 
          }
        </tbody>
      </table>
    </div>  
  </div>
</div>    
 
 
 <a href="@routes.ClassYearManagement.create()">Create Another Class or Year</a>

}      