@(classYear: models.admission.ClassYear)

@import helper._

@main("Class or Year"){

<!-- main content -->   
   <div id="main_wrapper">
    <div class="container-fluid">
     <div class="col-md-12">
      <div class="heading_a"><span class="heading_text">Class/Year Details</span></div>
       <div class="row">
          <label for="className">Class or Year Name</label>
          <span class="form-control" id="className">@classYear.name</span>
       </div>
       <div class="row">
          <label for="degName">Degree Name</label>
          <span class="form-control" id="degName">@classYear.degree.name</span>
       </div>  
       <div class="row">
        @form(routes.ClassYearManagement.edit(classYear.id)) {
		    <input type="submit" value="Edit" class="btn btn-primary">
  		  }
       </div>  
      </div>
    </div>
  </div>    
     }
